[submodule "green-wheels-core"]
	path = green-wheels-core
	url = git@github.com:lysandre995/green-wheels-core.git
[submodule "green-wheels-backend"]
	path = green-wheels-backend
	url = git@github.com:lysandre995/green-wheels-backend.git
[submodule "green-wheels-frontend"]
	path = green-wheels-frontend
	url = git@github.com:lysandre995/green-wheels-frontend.git
